API_ID=18618549 # get this value from my.telegram.org
API_HASH=97801a2305a9da9130bd4e9d65a8a9b8 # get this value from my.telegram.org
BOT_TOKEN=5475655597:AAFT8DIwK2QNHqzjtmsHsMQ49YE8BBnSOGc  # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://vonfreecs:vonfreecs@cluster0.8dbm5.mongodb.net/?retryWrites=true&w=majority
# get this value from mongodb.com
LOG_GROUP_ID=-1001563169845 # get this value from in your log group 
MUSIC_BOT_NAME=Ashanti Music Bot # your music bot name 
STRING_SESSION=BQAiW3RoQiMUggfLA2f3-NSGtY6wozMUsbIg_TvX_aTkBnhpST94zeJcuITT8yok5WRTL5uJbDZyblI6UgCv4Q2TmrpNvTzGbSzZ0ixChowNI9e6PE_b3qtB1Xtj7t7hGAO1fDr1pUm2AbW4m80-rauFxoONd4PoA2OF0F7fwrE0u5S1nLOjAdxLPrtOzZyomR_Xgx5ngNoV1y8PQUuDDI4sTRaDBYHwysLyonYW7MWaEYJujSn1qRhuHiUYvwICyxMCSDVBIDC0Jvk6KUHb5XP95ANMRHes0MWcYkODRtw_Q1CblZYoqvHtlW0Gxlt-L7ONNr1zYMpbP3r_K-Mw8VCbAAAAAT-EaisA
SPOTIFY_CLIENT_ID=71df9f2bf7b64c6d961366ce9cd1aedb
SPOTIFY_CLIENT_SECRET=23f3871b6750492cba4dd0f43fe4cd80
DURATION_LIMIT= 300
YOUTUBE_EDIT_SLEEP= 3
TELEGRAM_EDIT_SLEEP= 5
AUTO_LEAVING_ASSISTANT= True
ASSISTANT_LEAVE_TIME= 5400
AUTO_SUGGESTION_MODE= True
AUTO_SUGGESTION_TIME= 3600
START_IMG_URL = https://telegra.ph/file/b97f20a6685109151b74d.png
PING_IMG_URL = https://telegra.ph/file/b97f20a6685109151b74d.png
VIDEO_STREAM_LIMIT='100'
SERVER_PLAYLIST_LIMIT='1000'
SPOTIFY_CLIENT_ID='YES'
PLAYLIST_FETCH_LIMIT='1000'